* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1E1E1E;
  color: #FFFFFF;
}

.app-container {
  display: grid;
  grid-template-rows: 60px auto;
  height: 100vh;
  max-width: 100vw;
}

.workspace {
  display: grid;
  grid-template-columns: 3fr 1fr; /* Плейлист и микшер */
  gap: 10px;
  padding: 10px;
  max-width: 100vw;

}

.toolbar {
  background-color: #2E2E2E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 50vw;

}

.toolbar button {
  background-color: #7B88FF;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.toolbar button:hover {
  background-color: #FF6F61;
}

.playlist {
  max-width: 100vw;
}

.playlist-container {
  overflow-x: scroll; /* Горизонтальный скроллинг */
  overflow-y: scroll;
  white-space: nowrap;
  height: 400px;
  width: 100%;
}

.track {
  display: inline-block;
  width: 200px; /* Ширина дорожки меняется в зависимости от зума */
}


.playlist, .mixer {
  background-color: #2E2E2E;
  border-radius: 8px;
  padding: 20px;
}

.track {
  padding: 10px;
  border-bottom: 1px solid #444;
  display: flex;
}

.track h4 {
  color: #7B88FF;
}

.timeline {
  height: 40px;
  /* background-color: #2E2E2E; */
  display: flex;
}

.timeline div {
  flex: 1;
  border-left: 1px solid #444;
  color: #888;
  text-align: center;
}
